<h2>New Product</h2>

<div class="form-horizontal">
    <div class="form-group">
        <span class="control-label col-md-2">Name</span>
        <div class="col-md-10">
            <input type="text" placeholder="enter product name..." class="form-control" [(ngModel)]="newProduct.name"
            [class.InputError]="isNameError" />
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Price</span>
        <div class="col-md-10">
            <input type="number" placeholder="enter product price..." class="form-control" [(ngModel)]="newProduct.price"
            [class.InputError]="isPriceError"/>
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Category</span>
        <div class="col-md-10">
            <select class="form-control" name="categoriesSelect" id="categoriesSelect" [(ngModel)]="newProduct.categoryId"
            [class.InputError]="isCategoryError" >
              <option value="" disabled selected>-enter category...-</option>
              <option *ngFor="let category of this.categories" value="{{category._id}}">{{category.name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" (click)="addProduct()">Create!</button>
        </div>
    </div>
</div>
