<h2>About Us</h2>
<h4>PAYMENTS & RETURNS</h4>
<aside>
    <ul>
        <li> Most Vibe purchases can be returned for any reason within 30 days of the shipping date. After 30 days, you can still return your Vibe purchase for a full refund as long as it hasn't been used. Some restrictions apply.</li>
    </ul>
    <h4>CONTACT US</h4>
    <address>
        <strong>Address:</strong> <abbr title="Address">171 Dizengoff Street, Tel Aviv </abbr><br />
        <strong>Phone:</strong>   <abbr title="Phone">+972-52-1234567</abbr> <br />
        <strong>Share to Twitter:</strong>   <share-button button="twitter"></share-button><br />
    </address>
</aside>

<br/><br/>
<div class="container">
  <div class="row">
    <agm-map [latitude]="myStore.lat" [longitude]="myStore.lng" class="col-sm-8" [zoom]="12">
      <agm-marker [latitude]="myStore.lat" [longitude]="myStore.lng"></agm-marker>
    </agm-map>
    <div class="card col-sm-4">
      <h2>Weather Near Address</h2>
      <div class="cardContainer">
        <h4> <b>{{storeWeather.main.temp}} &#8451;</b> </h4>
        <p style="display: inline-block;"> <b>{{storeWeather.weather[0].description}}</b></p>
        <img style="display: inline" src={{weatherIconURL}}>
        <p> <b> Humidity: </b> {{storeWeather.main.humidity}}%</p>
        <p> <b> Wind Speed: </b> {{storeWeather.wind.speed}} &#9873; </p>
      </div>
    </div>
  </div>
</div>
